.block-quote {
  background-color: $primary-light;
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 991px){
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &.not-bg-color{
    p,strong,h1,h2,h3,h4,h5,span{
    }
  }
  &.text-left{
    text-align: left !important;
    p,strong,h1,h2,h3,h4,h5,span{
      text-align: left !important;
    }
  }
  &.text-center{
    text-align: center !important;
    p,strong,h1,h2,h3,h4,h5,span{
      text-align: center !important;
    }
  }
  &.text-right{
    text-align: right !important;
    p,strong,h1,h2,h3,h4,h5,span{
      text-align: right !important;
    }
  }
  // p,strong,h1,h2,h3,h4,h5,span{
  //   @include font1;
  //   font-size: 24px;
  //   font-weight: bold;
  //   color: white;
  //   font-stretch: normal;
  //   font-style: normal;
  //   line-height: 1.38;
  //   letter-spacing: normal;
  //   text-align: center;
  // }
}

@include mediaqueries(991max) {
  .wp-block-image .alignright, .wp-block-image .alignleft{
    float: none !important;
    margin: 0 auto;
  }
  .wp-block-media-text{   
    display: -webkit-box;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    .wp-block-media-text__media{
      
    }
    .wp-block-media-text__content{
      padding: 0 !important;
    }
  }
} 
@include mediaqueries(767max) {
  .wp-block-columns.has-2-columns{
    .wp-block-column{
      flex-basis: 100%;      
      &:nth-child(2){
        text-align: center;
      }
    }
  }
  .wp-block-column{
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
  }
  .wp-block-media-text{
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    .wp-block-media-text__media{
      
    }
  }
}