.section-f {
  position: relative;
  padding: 69px 0 75px;
  .underline{
    position: relative;
    &::after{
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      height: 0.5px;
      width: calc(100vw + 800px);
      background-color: $primary-dark
    }
  }
  .uppertitle{
    @include font1;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: $text;
  }
  .section-title{
    @media (min-width: 768px){
      margin-bottom: 30px !important;
    }
  }


  .img-icon{
    display: block;
    text-align: left;
    img{
      width: auto;
      height: auto;
      object-fit: contain;
      margin-bottom: 17px;
    }
  }



  .single-box{
    .card {
      // margin: 15px;
      border: none;
      border-radius: 6px;
      // padding: 54px 31px 29px;
      background: white;
      min-height: 276px;
      // @media (min-width: 992px) {
      //   padding: 76px 94px 61px 95px;
      // }
      @media (min-width: 1200px) {
      }
      // display: flex;
      // justify-content: flex-end;
    }
  
    blockquote {
      font-size: 15px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: 0.05em;
      color: $text;
    }
  
    cite {
      @include font1;
      font-size: 11px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.11em;
      text-align: left;
      color: $text;
      text-transform: uppercase;
      margin-top: 0px;
      &::before{
        content: "—\00A0";
        position: relative;
        display: inline-block;
        padding-right: 2px;
      }
      span {
        @include font1;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 1.64;
        letter-spacing: 0.11em;
        text-transform: uppercase;
        display: block;
        margin-top: 6px;
        color: $text;
      }
    }
  
    .img-wrap {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      margin: 0;
      margin-right: 16px;
      flex-shrink: 0;
      img {
        object-position: top;
      }
    }
  
    .cite-container {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
    &:nth-child(odd){
      blockquote, cite, cite span{
        color: $primary-dark;
      }
    }
  }


}

@media (min-width: 1366px) {
}

@media (min-width: 1440px) {
}
@media (min-width: 1680px) {
}

@media (min-width: 1920px) {
}

@media (min-width: 2303px) {
}

@media (min-width: 2560px) {
}
