<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!--FontAwesome-->
    <link href="fontawesome/css/all.min.css" rel="stylesheet">  
    <!-- <script defer src="fontawesome/js/all.min.js"></script> -->
    <!--AOS Animation -->
    <link href="aos-animation/aos.css" rel="stylesheet"> 
    <script src="aos-animation/aos.js"></script>

    <title>Sponsors Block</title>
  </head>
<body class="">

<div class="container"> 

  <h2 class="center-title">Carousel</h2>

    <div class="sponsor-vCarousel">
      <div id="carousel__sponsor" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators"></ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <div class="single-sponsor col">
              <a href="" target="_blank">
                <figure class="featured-sponsor-images">
                  <img src="images/betterdays.png" alt="logo sponsors">
                </figure>
              </a>
            </div>
            
            <div class="single-sponsor col">
              <a href="" target="_blank">
                <figure class="featured-sponsor-images">
                  <img src="images/betterdays.png" alt="logo sponsors">
                </figure>
              </a>
            </div>

            <div class="single-sponsor col">
              <a href="" target="_blank">
                <figure class="featured-sponsor-images">
                  <img src="images/betterdays.png" alt="logo sponsors">
                </figure>
              </a>
            </div>

            <div class="single-sponsor col">
              <a href="" target="_blank">
                <figure class="featured-sponsor-images">
                  <img src="images/betterdays.png" alt="logo sponsors">
                </figure>
              </a>
            </div>

            <div class="single-sponsor col">
              <a href="" target="_blank">
                <figure class="featured-sponsor-images">
                  <img src="images/betterdays.png" alt="logo sponsors">
                </figure>
              </a>
            </div>

          </div>

          <a class="carousel-control-prev" href="#carousel__sponsor" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel__sponsor" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
       
      </div> 
    </div> <!-- .sponsor-vCarousel --> 

    <hr class="solid">

    <h2 class="center-title">List</h2>

      <div class="sponsor-vList">
        <div class="row justify-content-start justify-content-md-center">

          <div class="single-sponsor col col-lg-5" >
            <a href="" target="_blank">
              <figure class="featured-sponsor-images">
                <img src="images/betterdays.png" alt="logo sponsors">
              </figure>
            </a>
          </div>
          <div class="single-sponsor col col-lg-5">
            <a href="" target="_blank">
              <figure class="featured-sponsor-images">
                <img src="images/betterdays.png" alt="logo sponsors">
              </figure>
            </a>
          </div>

          <div class="single-sponsor col col-lg-5" >
            <a href="" target="_blank">
              <figure class="featured-sponsor-images">
                <img src="images/betterdays.png" alt="logo sponsors">
              </figure>
            </a>
          </div>
        </div>
      </div> <!-- .team-vList -->
        
  <hr class="solid">

<h2 class="center-title">Grid</h2>

  <div class="sponsor-vGrid">
    <div class="row justify-content-around d-flex align-content-around flex-wrap">
   
      <div class="single-sponsor col" id="<?php echo $id ;?>">
        <figure class="featured-sponsor-images">
          <img src="images/betterdays.png" alt="logo sponsors">
        </figure>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim debitis natus illo voluptatem sunt rem!</p>   
        <a href="#" target="_blank" class="btn-blue">Learn More</a> 
      </div>

    </div>
  </div> <!-- .team-vGrid-square -->
  
  <!--script-->  
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/jquery.mobile.custom.min.js"></script>  
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/main-height-box.js"></script>

  <!--FontAwesome-->
  <script defer src="fontawesome/js/all.min.js"></script>
  <!--AOS Animation -->
  <script src="aos-animation/aos.js"></script>

</body>

</html>